<!DOCTYPE html>
<html lang="it">

<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <ul>
        <li><a routerLink="/eventi">Eventi</a></li>

        <!-- link di login/logout a destra -->
        <li class="auth" *ngIf="loggedUser; else loginLink">
          <a [routerLink]="['/prenotazioni', loggedUser.id]">Le tue prenotazioni</a>
          <span *ngIf="loggedUser?.ruolo === 'o'">
            <a [routerLink]="['/eventi-organizzati']"> i tuoi eventi</a>
          </span>
          <a href="#" (click)="logout()">Logout</a>
        </li>
        <ng-template #loginLink>
          <li class="auth">
            <a routerLink="/login">Login</a>
          </li>
        </ng-template>
      </ul>
    </nav>

  </header>

  <!-- Contenuto principale -->
  <main>
    <router-outlet></router-outlet>
  </main>
</body>

</html>