<!DOCTYPE html>
<html lang="it">
    <head>
      <meta charset="UTF-8">
      <title>Pagina con Navbar</title>
    </head>
    <body>

    <div *ngIf="loggedUser?.ruolo==='organizzatore'; else utenteBase">
      Ciao organizzatore!
    </div>

    <ng-template #utenteBase>
      sei un utente base
    </ng-template>

    <!-- Navbar in alto -->
    <nav *ngIf="loggedUser">
      <ul style="list-style: none; display: flex; gap: 20px; padding: 0;">
        <li><a href="/eventi">Eventi</a></li>
        <li><a href="/categorie">Categorie</a></li>
        <li><a href="/localita">località</a></li>
      </ul>
    </nav>

      <!-- Contenuto della pagina -->
      <main>
        <router-outlet>
          
        </router-outlet>
      </main>

    </body>
</html>