<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Inserisci il tuo username"
      />
      <div class="error" *ngIf="username.invalid && username.touched">
        Lo username è obbligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Inserisci la tua password"
      />
      <div class="error" *ngIf="password.invalid && password.touched">
        La password è obbligatoria.
      </div>
      
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Accedi</button>
  </form>
  
  <div class="login-error" *ngIf="loginError != ''">
      {{ loginError }}
  </div>

</div>