<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Inserisci il tuo username"
      />
      <div class="error" *ngIf="username.invalid && username.touched">
        Lo username è obbligatorio.
      </div>
    </div>

    <div class="form-group" >
      <label for="password">Password</label>
     <div class="password-wrapper">
      <input
         [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="Inserisci la tua password"
        />
      <span class="toggle-password" (click)="togglePassword()">
       {{ showPassword ? '🔓' : '🔒' }}
       </span>

     </div> 
      
      <div class="error" *ngIf="password.invalid && password.touched">
        La password è obbligatoria.
      </div>
      <div>
       <p class="login-link">Non hai un account? <a href="#" (click)="goToRegister($event)">Registrati</a></p>
      </div>
      
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Accedi</button>
  </form>
  
  <div class="login-error" *ngIf="loginError != ''">
      {{ loginError }}
  </div>

</div>

