<div *ngIf="loading" class="loading">Caricamento evento...</div>

<div *ngIf="!loading && evento" class="evento-container">
  <div class="evento-card">
    <img [src]="getImageUrl(evento)" alt="{{ evento.titolo }}">
    <h1>{{ evento.titolo }}</h1>
    <p><strong>Luogo:</strong> {{ evento.luogo }}</p>
    <p><strong>Data e Ora:</strong> {{ evento.dataora | date:'fullDate' }} - {{ evento.dataora | date:'shortTime' }}</p>
    <p><strong>Prezzo:</strong> {{ evento.costo | currency:'EUR' }}</p>

    <p class="descrizione">{{ evento.descrizione }}</p>

    <button *ngIf="loggedUser; else loginLink" class="btn-acquista" (click)="acquistaBiglietto()">Acquista Biglietto</button>
    
    <ng-template #loginLink>
      <a routerLink="/login" class="btn-login">Accedi per acquistare</a>
    </ng-template>

    <p>
    Ottieni 10 punti da questo acquisto!
    Ogni 100 punti per te uno sconto del 15%!
    </p>

  </div>
</div>