<div class="prenotazioni-container" *ngIf="PrenotazioniFuture && PrenotazioniFuture.length > 0; else noPrenotazioni">
  <div class="card" *ngFor="let prenotazione of PrenotazioniFuture">
    <div class="card-content">
      <!-- Immagine -->
      <div class="card-image">
        <img 
          [src]="getImageUrl(prenotazione.evento.image_url)"
          alt="Immagine evento"
          routerLink="/eventi/{{ prenotazione.evento.id }}"
        >
      </div>

      <!-- Info -->
      <div class="card-body">
        <h5 class="card-title">📌 Prenotazione #{{ prenotazione.id }}</h5>
        <p class="card-text">
          <strong>Evento:</strong> {{ prenotazione.evento.titolo }} <br>
          <strong>Data e ora:</strong> {{ prenotazione.evento.dataora | date:'dd/MM/yyyy HH:mm' }} <br>
          <strong>Luogo:</strong> {{ prenotazione.evento.luogo }}
        </p>

        <!-- Pulsante elimina -->
        <button class="delete-btn" (click)="eliminaPrenotazione(prenotazione.id)">
          Cancella prenotazione
        </button>
      </div>
    </div>
  </div>
</div>

<div class="prenotazioni-container" *ngIf="PrenotazioniPassate && PrenotazioniPassate.length > 0">
  <!-- PRENOTAZIONI PASSATE -->
  Prenotazioni passate: 
  <div class="card" *ngFor="let prenotazione of PrenotazioniPassate">
    <div class="card-content">
      <!-- Immagine -->
      <div class="card-image">
        <img 
          [src]="getImageUrl(prenotazione.evento.image_url)"
          alt="Immagine evento"
          >
      </div>

      <!-- Info -->
      <div class="card-body">
        <h5 class="card-title">📌 Prenotazione #{{ prenotazione.id }}</h5>
        <p class="card-text">
          <strong>Evento:</strong> {{ prenotazione.evento.titolo }} <br>
          <strong>Data e ora:</strong> {{ prenotazione.evento.dataora | date:'dd/MM/yyyy HH:mm' }} <br>
          <strong>Luogo:</strong> {{ prenotazione.evento.luogo }}
        </p>

      </div>
    </div>
  </div>
</div>

<ng-template #noPrenotazioni>
  <div class="no-prenotazioni">
    <p>Non hai ancora effettuato prenotazioni.</p>
  </div>
</ng-template>