<header>
    <h1>Elenco Eventi</h1>
</header>

<main>
    <section id="concerti">
        <h2>I prossimi concerti</h2>

        <!-- Mostra caricamento se eventi non ancora disponibili -->
        <div *ngIf="eventi.length === 0">Caricamento eventi...</div>

        <!-- Lista dinamica eventi -->
        <ul>
            <li *ngFor="let evento of eventi">
              <img [src]="getImageUrl(evento)" alt="{{ evento.titolo }}">
              <div class="dettagli">
                <h3>{{ evento.titolo }}</h3>
                <p>{{ evento.dataora | date:'dd/MM/yyyy' }} - {{ evento.costo > 0 ? (evento.costo | currency:'EUR') : 'Gratis'}}</p>
                <p>{{ evento.luogo }}</p>
                <a [routerLink]="['/eventi', evento.id]" class="btn-dettaglio">Vedi Dettagli</a>
              </div>
            </li>
            <li *ngFor="let evento of eventi">
              <img [src]="getImageUrl(evento)" alt="{{ evento.titolo }}">
              <div class="dettagli">
                <h3>{{ evento.titolo }}</h3>
                <p>{{ evento.dataora | date:'dd/MM/yyyy' }} - {{ evento.costo > 0 ? (evento.costo | currency:'EUR') : 'Gratis'}}</p>
                <p>{{ evento.luogo }}</p>
                <a [routerLink]="['/eventi', evento.id]" class="btn-dettaglio">Vedi Dettagli</a>
              </div>
            </li>
        </ul>
    </section>
</main>

<footer>
    <p>&copy; 2025 Elenco Concerti. Tutti i diritti riservati.</p>
</footer>

